<ifmodule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/xml text/css
</ifmodule>
<ifmodule mod_setenvif.c>
    # Netscape 4.x has some problems...
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    # Netscape 4.06-4.08 have some more problems
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    # MSIE masquerades as Netscape, but it is fine
    BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    # Don't compress images
    SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
</ifmodule>
<ifmodule mod_headers.c>
    # Make sure proxies don't deliver the wrong content  
    Header append Vary User-Agent env=!dont-vary  
</ifmodule>

<Files .htaccess>
    order allow,deny
    deny from all
</Files>

<Files .hg>
    order allow,deny
    deny from all
</Files>

<Files localcfg.php>
    order allow,deny
    deny from all
</Files>

<Files database.php>
    order allow,deny
    deny from all
</Files>

<Files steamtags.php>
    order allow,deny
    deny from all
</Files>

