a {
	text-decoration: none;
	color: #ffffff;
}


.a:focus {
	outline: 0px none;
}

a:hover {
	text-decoration: underline;
}

a.nohover:hover {
	text-decoration: none;
}

img {
	border: none;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
	background-color: #000000;
	font-size: 12px;
}

h1 {
	font-size: 30px;
	font-weight: normal;
}

h2 {
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: normal;
}

h5 {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

div#global_header {
	background-image: url(globalheader_bg.jpg);
	background-color: #000000;
	border-bottom: 1px solid #4D4B48;
	background-position: center top;
}

div.nickname {
	display: inline;
	font-size: 30px;
	font-weight: normal;
}

div.main {
	background-image: url(content_bg.png);
	background-repeat: repeat-x;
	background-color: #000000;
}

td.gamecell {
	vertical-align: middle;
}

img.avatar {
	padding: 3px;
}

div.loginpopover {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: #ff0000;
    color: inherit;
    visibility: hidden;
}

div.taglist {
   display: inline;
}

.searchbox {
	background-image: url(store_header_search.png);
	float: right;
	color: #a6a5a2;
	width: 253px;
	height: 27px;
	position: relative;
	z-index: 250;
}

.searchbox input {
	border: none;
	background-color: #4a4746;
	color: #cdc9c0;
	margin-top: 5px;
	margin-left: 8px;
	width: 206px;
	outline: none;
}

.searchbox input.default {
	font-style: italic;
}


.tagedit {
	border: none;
	background-color: #4a4746;
	color: #cdc9c0;
	outline: none;
        margin-left: 5px;
}
